.maindiv{
  border:groove;
  margin-left:auto;
  margin-right:auto;
  width:95%;

  display: flex;
  flex-wrap: wrap;
}
.resdiv{
  max-width: 100%;
  width: calc(33.333% - 10px);
  height:100px;
  margin: 5px;
  flex-basis: auto;
  background-color: #efbaba;
  color:blue;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}
@media(max-width : 901px){
  .resdiv{
    width: calc(50% - 10px);
  }
}
@media(max-width : 481px){
  .resdiv{
    width:100%;
  }
}
